@model CostumeRentalSystem.Models.Category
@{
    ViewData["Title"] = "Детайли за категория";
}

<h1>Детайли за категория</h1>

<div class="mt-3">
    <dl class="row">
        <dt class="col-sm-2">Име на категория</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Назад към списъка</a>
@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редакция</a>
}

